/*<!---
#comp 3450 <Ashima,ripan>--> */
{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<center>
    <div class="container mx-auto">
        <table width=30% cellpadding=10>
            <tr>
                <td colspan=2 align=center><h1 class="mt-4 mb-4">Log In</h1></td>
            </tr>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <tr>
                <div class="form-group">
                <td>  <label for="{{ user_form.username.id_for_label }}">Username</label></td>
                <td> {{ form.username }}</td>
            </div>
            </tr>
            <tr>
                <div class="form-group">
                <td> <label for="{{ user_form.password.id_for_label }}">Password</label></td>
                <td>  {{ form.password }}</td>
            </div>
            </tr>
                     
           <tr>
            <td colspan=2 align=center>  <button type="submit" class="btn btn-primary">Login</button></td>
           </tr>  
          
        </form>
    </table>
    </div>
    </center>

{% endblock %}