/* General Styles */
/*<!---
#comp 3450 <Ashima,ripan>--> */
body {
    background-color: hsl(0, 0%, 98%);
}

h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 30%);
}
body {
    background-color: #ffffff !important; /* White background or your desired color */
}
.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: 350px;
    box-shadow: -1px -3px 5px -2px rgb(98, 17, 17);
}

.product {
    border-radius: 0 0 4px 4px;
    /* You had two border-radius properties, combining them */
    border-radius: 0 0 3px 3px;
}

.bg-dark {
    background-color: #4f868c !important;
}

#cart-icon {
    width: 35px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #e74abd;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}

.hidden {
    display: none !important;
}

.para {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

h5 {
    text-align: center;
    color: grey;
    font-size: 20px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 345px;
    height: 300px;
    background-color: black;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgbox {
    position: relative;
    overflow: hidden;
}

.container .box .imgbox img {
    width: 350px;
    height: 300px;
    transition: transform 1s;
}

.container .box:hover .imgbox img {
    transform: scale(1.7);
}

.container .box .details {
    position: absolute;
    top: 110px;
    left: 140px;
    bottom: 100px;
    right: 130px;
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details {
    transform: scaleY(1);
}

.container .box .details p {
    color: white;
    font-size: 30px;
}

/* Form styling */
.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

#discussion-containerr {
    margin-top: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#new-post-form {
    margin-top: 20px;
}

#new-post-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}
